.ant-table td>img,
.ant-table td .img {
  max-width: 92px !important;
  max-height: 55px !important;
  vertical-align: middle;
  border-radius: 4px;
}

.expired-row {
  color: white; // Puedes ajustar esto según tus necesidades
  background-color: red;
  cursor: pointer;
}

.blank-row {
  color: white; // Puedes ajustar esto según tus necesidades
  background-color: rgb(252, 150, 55);
  cursor: pointer;
}

.certificate {
  cursor: pointer;
}